.featured-product--wrapper {
  background-color: #f1f5f8;
  padding: 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  a {
    &:hover {
      opacity: 0.7;
      color: var(--text-color);
    }
  }
}
.featured-product {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  transition: all 0.3s linear;
  &__item {
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      img {
        transform: scale(1.2);
      }
    }
    &--image {
      height: 250px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s linear;
      }
    }
    &--title {
      display: block;
      padding: 10px;
      &:hover {
        color: var(--secondary-color);
      }
    }
    &--price {
      display: flex;
      justify-content: center;
      gap: 10px;
      padding: 10px;
      p {
        color: var(--primary-color);
        font-weight: 600;
      }
      sub {
        text-decoration: line-through;
      }
    }
    &--action {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 20px;
      button {
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
    }
  }
}
@media (max-width: 1023px) {
  .featured-product {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 767px) {
  .featured-product {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 567px) {
  .featured-product {
    grid-template-columns: 1fr !important;
    gap: 20px;
  }
}
